
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

section#download2{
    display: none;

    #cont2-2{
        display: flex;
        justify-content: center;


        img{
            width: 80vw;
        }
    }
}

section#download{
    display: flex;
    justify-content: space-around;
    padding: 5rem;
    padding-top: 7rem;
    font-family: Nunito Sans;
    color: #001B42;

    img{
        width: 30vw;
    }

    h1{
        display: flex;
        flex-direction: column;
        font-size: 7.5rem;
        font-weight: 800;
        gap: 1rem;
    }

    #cont-download{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5rem;

    }

    #cont2 p{
        color: #001B42;
        font-size: 3.4rem;
        font-weight: 600;
        width: 45rem;
    }
}


.app{
    background-color: #E0FFFF;
    padding: 0rem 1rem 0rem 1rem;
}

.conecta{
    background-color: #FFA561;
    color: #001B42;
    padding: 0rem 1rem 0rem 1rem;

}

#baixar-agora{
    padding: 1.4rem 3rem;
    background-color: #3284AE;
    border: none;
    border-radius: 15px;
    color: #FFF8E7;
    font-weight: bold;
    font-family: Open Sans;
    font-size: 5rem;
    transition: .6s;
    cursor: pointer;
}

#baixar-agora:hover{
    background-color: #f3d795;
    color: #3284AE;
}

@media screen and (max-width: 768px) {
    section#download{
        padding: 3rem;
        padding-top: 7rem;

       
        h1{
            display: flex;
            flex-direction: column;
            font-size: 4.2rem;
            font-weight: 800;
            gap: 1rem;
        }

        #cont2 p{
            color: #001B42;
            font-size: 2.2rem;
            font-weight: 600;
            width: 30rem;
        }

        #cont-download{
            gap: 2rem;
    
        }
    }
    
    .app .conecta{
        padding: 0rem 1rem 0rem 1rem;
        width: 33rem;
    }

    #baixar-agora{
        padding: 1.2rem 1rem;
        background-color: #3284AE;
        border: none;
        border-radius: 15px;
        color: #FFF8E7;
        font-weight: bold;
        font-family: Open Sans;
        font-size: 2.4rem;
        transition: .6s;
        cursor: pointer;
    }
}


@media screen and (max-width: 500px) {
    section#download{
        display: none; 
    }

    section#download2{
        display: flex;
        text-align: center;
        justify-content: center;
        padding: 5rem;
        padding-top: 3rem;
        font-family: Nunito Sans;
        

        #cont-download2{
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }


        #cont1-2{
        
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: #001B42;

            h1, h2, span{
                font-size: 2.5rem;
                font-weight: 800;
            }

            h2{
                width: 19rem;
            }
        }

        #cont2-2{
            display: flex;
            justify-content: center;


            img{
                width: 40vw;
            }

            p{
                display: flex;
                gap: 0.3rem;
                flex-direction: column;
                justify-content: center;
                color: #062044;
                font-size: 1.3rem;
                font-weight: bold;
                width: 20rem;
            }
        }

        #info-cont2{
            display: flex;
            width: 100%;
            flex-direction: column;
            justify-content: center;
            padding-bottom: 3rem;
            gap: 2rem;
            align-items: center;
            

            #line1{
                width: 19rem;
                align-self: center;
            }

            #line3{
                width: 11rem;
                align-self: center;
            }
        }
        #baixar-agora{
            display: flex;
            padding: 0.5rem 3rem;
            justify-content: center;
            font-size: 1.6rem;
            border-radius: 10px;
            transition: .6s;
            cursor: pointer;
        }

        #baixar-agora:hover{
            display: flex;
            background-color: #f3d795;
            color: #3284AE;
        }
    }

    
}


@media screen and (max-width: 368px) {
    span{
        font-size: 1rem;
    }
}