*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

section#form{
    font-family: Nunito Sans;
    padding: 7rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    width: 100%;
}
#contact-us-tittle {
    display: flex;
    justify-content: center;
    font-size: 6rem;
    color: #3284AE;
}



div#forms-format {
    display: flex;
    justify-content: space-around;
    
    


    #message {
        height: 24rem;
    }

    #content-left {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;


        #form-cont1 p{
            width: 30rem;
            font-size: 2.4rem;
            font-weight: 600;
        }

        #form-cont2 p{
            color: #FFA561;
            font-size: 2.4rem;
            font-weight: bold;
        }
    }


    h2 {
        font-size: 4rem;
        color: #3284AE;
    }

    

    img {
        width: 15rem;
    }
}

#download-app {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h1{
        font-size: 2.6rem;
        font-weight: bold;
        padding-top: 1rem;  
        color: #3284AE;
    }
}



#down {
    display: flex;
    gap: 1.5rem;
}




#tittle-form{
    display: flex;
    font-size: 1.7rem;
    flex-direction: column;
    text-align: center;
    color: aliceblue;
  }

  .forms {
    border-radius: 30px; 
    font-family: Open Sans;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  

  
  
  .form-input {
    width: 100%;
    padding: 2rem; 
    border: none;
    font-size: 1rem;
    background-color: #FFF8E7;
    color: #333;
    border-radius: 20px; 
    font-size: 2.6rem;
    font-weight: bold;
  }
  
  textarea.form-input {
    height: 6rem; 
    font-family: Open Sans;
  }
  


  #check{
    display: flex;
    gap: 1rem;

    label{
        font-size: 1.6rem;
        color: #676666;
    }
  }

.checkbox{
    background-color: #D9D9D9;
    font-size: 2rem;
    padding: 5rem;
}
  

#button-form{
    display: flex;
    flex-direction: row-reverse;
    
    

    button{
        padding: 2rem 6.2rem;
        display: flex;
        justify-content: center;
        background-color: #3284AE;
        color: #FFF8E7;
        font-family: Open Sans;
        border: none;
        border-radius: 15px; 
        cursor: pointer;
        font-size: 1.3rem;
        transition: .6s;
        font-size: 3rem;
        font-weight: bold;


    }

    button:hover{
        background-color: #f3d795;
        color: #3284AE;
          
    }
}


@media screen and (max-width: 500px) {

    section#form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 4rem 0rem 7rem 0rem;
        gap: 3rem;

        h1{
            text-align: center;
            font-size: 3rem;
            font-weight: bold;
        }
    }
    div#forms-format{
        display: flex;
        justify-content: center;
        align-items: center;

        #message{
            height: 180px;
          }

        #content-left {
            display: none;
        }
    }

    .form-input {
        width: 36rem;
        height: 34px;
        padding: 1.3rem; 
        border: none;
        font-size: 1rem;
        background-color: #FFF8E7;
        color: #333;
        border-radius: 8px; 
        font-size: 1.2rem;
        font-weight: bold;
      }

      

      form{
        display: flex;
        align-items: center;
        
      }

    .forms{
        gap: 1.4rem;
    }

      #check{
        display: flex;
        gap: 1rem;

    
        label{
            font-size: 1.1rem;
            text-align: center;
            width: 33rem;
            color: #676666;
            padding-top: 1rem;
        }
      }
    
    .checkbox{
        background-color: #D9D9D9;
        font-size: 2rem;
        padding: 5rem;
    }

    #button-form{
        display: flex;
        flex-direction: row-reverse;
        
        
    
        button{
            padding: 0.6rem 2rem;
            display: flex;
            justify-content: center;
            background-color: #3284AE;
            color: #FFF8E7;
            font-family: Open Sans;
            border: none;
            border-radius: 8px; 
            cursor: pointer;
            font-size: 2rem;
            transition: .6s;
            font-weight: bold;
    
    
        }
    
        button:hover{
            background-color: #f3d795;
            color: #3284AE;
              
        }
    }
    
}