* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

.blue-info {
    background-color: #e0ffff;
}

#information {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    text-align: center;
    padding: 5rem;
    padding-top: 7rem;
    background-color: #fff8e7;
    font-family: Nunito Sans;
    color: #3284ae;
    width: 100%;

    .mobile-cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 1rem;

        
    }

    #tittle-info {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        font-weight: bold;

        h1 {
            font-size: 7rem;
        }

        p {
            font-size: 2.7rem;
        }
    }

    .container {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .first {
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
            justify-content: center;

            img {
                width: calc(33.33% - 2rem); /* 33.33% para desktop */
            }
        }
    }

    #mobile-images{
        display: none;
    }
}

@media screen and (max-width: 768px) {

    #information{
        padding: 3rem 2rem;

        #tittle-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
            font-weight: bold;
    
            h1 {
                
                font-size: 4rem;
            }
    
            p {
                font-size: 2.4rem;
            }
        }
    }

    .container .first img {
        width: calc(50% - 2rem); /* 50% para tablet */
    }
}

@media screen and (max-width: 500px) {
    
    

    #information{
        padding: 2rem;

        #tittle-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
            font-weight: bold;
    
            h1 {
                
                font-size: 4rem;
            }
    
            p {
                font-size: 2rem;
            }
        }

        

        #mobile-images {
            display: flex;

            img{
                width: calc(100% - 2rem);
            }
        }
    }
    
    #desk-images {
        display: none;
    }

    
}



      


