
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

section#introduction{
    background-image: url(../assets/fundo-sec1.svg);
    background-size: 100%;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#tittle-intro{
    color: #FFF8E7;
    font-family: Nunito Sans;
    
    h1{
        font-weight: 900;
        font-size: 7.5rem; 
    }

    p{
        font-weight: bold;
        font-size: 4.3rem; 
    }
}






@media screen and (max-width: 768px){
    section#introduction{
        height: auto;
        height: 40rem; 
        #tittle-intro {
            h1 {
                font-size: 4.2rem;
            }

            p {
                font-size: 2.5rem;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    section#introduction {
        height: 0;
        height: 30rem; 
        
        #tittle-intro {
            
            h1 {
                font-size: 2rem;
                font-weight: 800;
            }

            p {
                font-size: 1.6rem;
            }
        }
        #cont-intro{
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            gap: 13rem;
            flex-direction: column;
            gap: 0;
        }
    }
}
