*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

section#Ourapp{
    display: flex;
    justify-content: space-evenly;
    padding-top: 8rem;
}

#cont-app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
    color: #001B42;
    font-family: Nunito Sans;
    padding-bottom: 5rem;
    

    #tittle1{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        font-weight: bold;
 

        h2{
            font-size: 4.2rem;
        }

        h1{
            font-size: 7.5rem;
            font-weight: 800;
        }

    }
    #tittle2 p{
        width: 55rem;
        font-size: 3.2rem;
        font-weight: 600;
    }
    
    #tittle3 p{
        width: 55rem;
        font-size: 3.2rem;
        font-weight: 700;
        color: #3284AE;
    }
}


#icr{
    background-color: #FFA561;
    text-align: center;
}